{% extends "bases.html" %}


{% block content %}

logout

<h2>Cerrar Sesión</h2>
<p>¿Estás seguro de que deseas cerrar sesión?</p>
<form method="post" action="{% url 'services:logouts' %}">
  {% csrf_token %}
  <button type="submit">Cerrar Sesión</button>
</form>


{% endblock content %}