@import url(omnes-pro.css);
@import url(http://fonts.googleapis.com/css?family=Coda);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600);

/*======================================================================================================
                            Global
=======================================================================================================*/

* {
    outline: none !important;
    box-shadow: none;
}

a {
    color: rgb(32, 178, 170);
}

a:hover {
    color: #000;
}

.btn {
    border-radius: 0;
    transition: background 0.5s cubic-bezier(.17,.67,.83,.67);
}

.navbar-white {
    background-color: #fff !important;
    transition: background 0.5s ease-out;

}

.navbar-white li a {
    color: #16a085 !important;
}

.navbar-white .navbar-brand {
    color: #16a085 !important;
}

.navbar-white button.navbar-toggle {
    margin-top: 5px;
    margin-right: 10px;
}

.navbar-white button.navbar-toggle .ion-navicon {
    color: #000;
}

.form-control:focus {
border-color: #3acab1;
box-shadow: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgba(255, 255, 255, 0);
}

.navbar-default .navbar-toggle {
    border-color: rgba(221, 221, 221, 0);
    margin: 0;
    line-height: 100%;
}

.navbar-toggle {
    padding: 0;
    border-radius: 0;
}

.navbar {
    margin-bottom: 0px;
    padding: 10px 5px;
    min-height: 0;
}

button.navbar-toggle .ion-navicon {
    font-size: 2em;
    color: #fff;
}

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    line-height: 31px;
}

.row
{
    margin-right: 0px;
    margin-left: 0px;
}
ul li
{
    list-style: none;
    display: inline-block;
}
li a
{
    text-decoration: none;
}
#heading-text 
{
    padding-top: 10px;
}
#heading-text h3 {
    font-size: 49px;
    font-family: 'Roboto', sans-serif;
    padding-top: 58px;
    text-transform: uppercase;
}

#heading-text p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding: 5px 0px
}

.main_content 
{
    padding: 50px 0px;
}

iframe
{
    width: 100%;
}
.form-control
{
    border-radius: 0px;
}
/*-----------------------------------------------------------------------------------------------------
                                navbar
-------------------------------------------------------------------------------------------------------*/
#navigation, .navbar-default
{
    border-radius: 0px;
    border: 0;
    background-color: rgba(0,0,0,0.19);
}
.navbar-default .navbar-nav>li>a {
    font-size: 16px;
    transition: all 0.5s cubic-bezier(.17,.67,.83,.67);
    color: #E5E5E5;
    margin: 5px 20px;
    padding: 0;
    line-height: 28px;
    font-family: "Coda";
    text-transform: capitalize;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
{
    color: #fff;
}
.navbar-default .navbar-brand {
    color: #fff;
    font-family: "Coda";  
    padding: 5px 15px;  
    font-size: 26px;  
    line-height: 100%;  
    height: auto;
}

.nav-wrap 
{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#wrapper
{
    background: url('/media/imagenes_servicio/istockphoto-627373186-612x612.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#overlay-1
{
    background-color: rgba(40, 40, 40, 0.6);
    position: relative;
}

.starting-text
{
    padding: 177px 0px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 2px;
}
.rene {
    font-size: 120px;
    color: white;
    font-family: "omnes-pro", "Helvetica", sans-serif;
    font-weight: 300;
    margin-top: 75px;
}

.starting-text h2 {
    font-family: "omnes-pro", "Helvetica", sans-serif;
    color: #fff;
}

.bottom 
{
    width: 100%;
    position: absolute;
    bottom: 2%;
}
.bottom a
{
    color: rgba(192, 192, 192, 0.5);
}
h5 
{
    padding-top: 22px;
    font-size: 18px;
}
/*-----------------------------------------------------------------------------------------------------
                            about us
------------------------------------------------------------------------------------------------------*/
.exp
{
    padding-top: 76px;
}
.progress
{
    background-color: #d4e3e4;
    border-radius: 0px;
    border-color: lightseagreen;
}
.progress-bar
{
    background-color: cadetblue;
}
.pro
{
    padding-top: 10px;
}

/*----------------------------------------------------------------------------------------------------
Our service
-----------------------------------------------------------------------------------------------------*/
.services
{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.about-service 
{
    font-size: 16px;
    padding: 5px 10px 0px 10px;
}
.about-service h3 {
    font-family: "Coda";
    font-size: 33px;
}

.service-icon i 
{
    padding: 20px 0px;
    font-size: 5em;
    transition: font-size 0.5s;
    display: table-cell;
    vertical-align: middle;
}
.service-icon
{
    display: table;
    min-height: 140px;
    text-align: center;
    width: 100%;
}
hr
{
    border-color: rgb(101,85,124);
}
.full
{
    width: 25%;
}
.fa-code
{
    color: cadetblue;
}
.fa-desktop
{
    color: lightslategray;
}
.fa-th
{
    color: rgb(114, 184, 211);
}
.fa-gamepad
{
    color: rgba(0, 0, 128, 0.58);
}
.fa-lightbulb-o
{
    color: grey;
}
.fa-stack-overflow
{
    color: #C09553;
}
.service:hover .service-icon i
{
    font-size: 7em;
}
.service:hover .about-service h3 
{
    color: rgb(175, 104, 77)
}
.service
{
    text-align: center;
}
/*===================================================================================================
                            team
=====================================================================================================*/
#team
{
    text-align: center;
    margin-bottom: 20px;
}
#team .team-members h4
{
    font-weight: 600;
    margin-bottom: 5px;
}
.member-title
{
    font-family: "Coda";
    margin-bottom: 15px;
}
#team h2
{
    font-weight: normal;
    text-align: center;
}
.team-member-description
{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}
.team-member-description 
{
    line-height: 25px;
}
.team-member-contact
{
    padding: 20px 0px;
}
/* media query te 991 px er niche padding right hobe 45px */
#team a:hover, #blog a:hover
{
    text-decoration: none;
}
#team .fa 
{
    font-size: 21px;
}
#team ul 
{
    padding-top: 20px;
}
.team-facebook, .team-twitter, .team-google-plus 
{
    color: rgb(32, 178, 170);
} 
.team-facebook:hover
{
    color: #46629E;
}
.team-facebook:hover .fa-facebook
{
    transform:;
}
.team-twitter:hover
{
    color: #0EAACE;
}
.team-google-plus:hover
{
    color: #DD4C39;
}
.team-member-contact a {
    margin: 0px 12px;
    transition: all 0.5s cubic-bezier(.17,.67,.83,.67);
}
/*-----------------------------------------------------------------------------------------------------
  