ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: rgb(147, 81, 81);
    /*background-image: url('/media/imagenes_servicio/2023_04_04_02_28_IMG_1242.JPG');*/
    background-size: cover;
    background-position: center;
}

li {
    margin-top: 80px;
    margin-left: 20px;
    color: aliceblue;
    margin-right: 10px;
    transition: 0.5s;
    font-family: serif;
    font-weight: lighter;
    transition: color 0.3s; /* Agrega una transición suave */
}

li:hover {
    
    transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
    
    color: white;
}



nav {
    overflow:hidden;
    height: 200px;
    background-color: rgb(147, 81, 81);
    /*background-image: url('/media/imagenes_servicio/2023_04_04_02_28_IMG_1242.JPG');*/
    background-size: cover; /* Ajusta según tus necesidades */
    background-position: center; /* Ajusta según tus necesidades */
    
}
nav ul li a{
    color: white;
}
