/* Estilo la cabecera */
h1 {
    font-family: 'Georgia', serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  /* Estilo el contenedor principal */
  .container-tsl {
    font-family: 'Georgia', serif;
    margin: 0 auto;
    max-width: 1000px;
    z-index: -1;
    padding-top: 50px;
  }
  
  /* Estilo la fila de tarjetas */
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  /* Estilo la tarjeta */
  .card {
    width: 33.33%;
    margin-bottom: 20px;
    padding: 15px;
    position: relative;
  }
  
  .card-body {
    padding: 15px;
  }
  
  /* Estilo la imagen */
  .card-img-top {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }
  
  /* Estilo el enlace de la tarjeta */
  .card-link {
    text-align: center;
    text-decoration: none;
    color: #333;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  
  /* Estilo la descripción de la tarjeta */
  .card-text {
    margin-bottom: 5px;
    color: #8b8989;
    text-align: justify;
    
  }
  
  /* Estilo la descripción de la tarjeta al pasar el mouse */
  .card:hover .card-link {
    color: #000;
    font-weight: bolder;
  }
  
  /* Estilo el costo de la tarjeta */
  .card-cost {
    margin-bottom: 1px;
    font-weight: bold;
    text-align: right;
  }
  
  /* Estilo el costo de la tarjeta al pasar el mouse */
  .card:hover .card-cost {
    color: #000;
    font-weight: bolder;
  }
  