{% extends "bases.html" %}

{% block content %}

aqui va la agenda

<h1>Agenda para {{ user.username }}</h1>
<ul>
    {% for evento in agenda %}
        <li>{{ evento.nombre }} - {{ evento.fecha_atencion }} {{ evento.hora_atencion }}</li>
    {% endfor %}
</ul>


{% endblock content %}