{% extends "bases.html" %}
{% block content %}

<section class="text-center text lg start" style="background-size: cover;
  background-color: rgba(0,0,0,0.6);
  background-repeat: no-repeat;
  height: 100vh;
  background-image: url('/media/imagenes_servicio/balan.jpg');
  backdrop-filter: blur(30px);">

    <style>
        .cascading-right {
            margin-right: -50px;
        }

        @media (max-width: 991.98px) {
            .cascading-right {
                margin-right: 0;
            }
        }
    </style>
    <!-- Jumbotron -->
    <div class="container py-4 align-center">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style="background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5">Eliminar Servicio</h2>
                        <p>¿Estás seguro de que deseas eliminar a {{ usuario.username }}?</p>
                        <form method="post">
                            {% csrf_token %}
                            <input class="btn btn-danger" type="submit" value="Sí, eliminar">
                        </form>
                        <p><a class="btn btn-primary" href="{% url 'services:tipo_servicio_list' %}">Cancelar</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>

<!-- Agrega los scripts de Bootstrap 5 JS al final del cuerpo del documento -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>

{% endblock content %}