{% extends "bases.html" %}

{% block content %}
<title>Gerente - Lista de Clientes</title>

<section class="text-center text lg start" style="background-size:cover;
  background-color: rgba(0,0,0,0.6);
  background-repeat: no-repeat;
  height: 100vh;
  background-image: url('/media/imagenes_servicio/balan.jpg');
  backdrop-filter: blur(30px);">

  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

  <table class="table table-striped" style="background: hsla(0, 0%, 100%, 0.55);
backdrop-filter: blur(30px);">
    <h2>Listado de Clientes</h2>

    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">Email</th>
        <th scope="col">Telefono</th>
        <th scope="col">Servicio</th>
        <th scope="col">Empleado</th>
      </tr>
    </thead>
    {% for cliente in clientes %}
    <tbody>
      <tr>

        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.fecha_atencion }}</td>
        <td>{{ cliente.hora_atencion }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.telefono }}</td>
        <td>{{ cliente.servicio_realizado }}</td>
        <td>{{ cliente.personal_atencion }}</td>
        <td><a class="btn btn-primary" href="{% url 'services:editar_cliente' cliente.id %}">Editar</a></td>
      </tr>

    </tbody>
    
    {% endfor %}
  </table>
  <a class="btn btn-primary" href="{% url 'services:home' %}">Volver a la página principal</a>
</section>

{% endblock content %}