{% extends "bases.html" %}

{% block content %}
<title>Gerente - Lista de Usuarios</title>

<section class="text-center text lg start" style="background-size:cover;
  background-color: rgba(0,0,0,0.6);
  background-repeat: no-repeat;
  height: 100vh;
  background-image: url('/media/imagenes_servicio/balan.jpg');
  backdrop-filter: blur(30px);">

    <style>
        .cascading-right {
            margin-right: -50px;
        }

        @media (max-width: 991.98px) {
            .cascading-right {
                margin-right: 0;
            }
        }
    </style>

    <table class="table table-striped" style="background: hsla(0, 0%, 100%, 0.55);
    backdrop-filter: blur(30px);">
        <h2>Listado de Usuarios</h2>
        {% for usuario in usuarios %}
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Correo electrónico</th>
                <th scope="col">Rol</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.rol }}</td>
                <td><a class="btn btn-primary" href="{% url 'services:actualizar_usuario' usuario.id %}">Editar</a></td>
                <td><a class="btn btn-danger" href="{% url 'services:eliminar_usuario' usuario.id %}">eliminar</a></td>
            </tr>

        </tbody>

        {% endfor %}
    </table>
</section>

{% endblock content %}