{% extends "bases.html" %}

{% block content %}
<title>Gerente - Lista de Cajas</title>

<section class="text-center text lg start" style="background-size:cover;
  background-color: rgba(0,0,0,0.6);
  background-repeat: no-repeat;
  height: 100vh;
  background-image: url('/media/imagenes_servicio/balan.jpg');
  backdrop-filter: blur(30px);">

    <style>
        .cascading-right {
            margin-right: -50px;
        }

        @media (max-width: 991.98px) {
            .cascading-right {
                margin-right: 0;
            }
        }
    </style>
    <div >
    <table class="table table-striped" style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px);">
        <h2>Listado de Cajas</h2>
        {% for caja in cajas %}
        <thead>
            <tr>
                <th scope="col">Caja</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ caja }}</td>
                <td><a class="btn btn-primary" href="{% url 'services:editar_caja' caja.id %}">Editar</a></td>
            </tr>

        </tbody>

        {% endfor %}
    </table>
    </div>
</section>

{% endblock content %}