{% extends "bases.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/servicios.css' %}">
<link rel="stylesheet" href="{% static 'js/scripts.js' %}">

<section class="text-center text lg start" style="background-size: cover;
  background-color: rgba(0,0,0,0.6);
  background-repeat: no-repeat;
  height: 100vh;
  background-image: url('/media/imagenes_servicio/balan.jpg');
  backdrop-filter: blur(30px);">

  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

  <div class="container-tsl">
    <h1 class="title">Lista de Tipos de Servicio</h1>
    <div class="row">
      {% for tipo_servicio in tipos_servicio %}
      <div class="card">
        {% if tipo_servicio.imagen %}
        <img src="{{ tipo_servicio.imagen.url }}" class="img-fluid" alt="Chicago Skyscrapers" />
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ tipo_servicio.nombre_servicio }}</h5>
          <p class="card-text">{{ tipo_servicio.quien_ofrece.username }}</p>
        </div>
        <ul class="list-group list-group-light list-group-small">
          <li class="card-text"> {{ tipo_servicio.duration }}</li>
          <li class="card-text"> ${{ tipo_servicio.costo_servicio }}</li>

        </ul>
        <div class="card-body">
          <a href="{% url 'services:eliminar_servicio' pk=tipo_servicio.pk %}" class="card-link">Eliminar link</a>
          <a href="{% url 'services:actualizar_servicio' pk=tipo_servicio.pk %}" class="card-link">Editar link</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}