<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/media/spa.png" />

  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'services:agregar_usuariosup' %}">Agregar SuperUser</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'services:agregar_usuario' %}">Agregar Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'services:listar_usuarios' %}">Listar Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'services:agregarserv' %}">Agregar Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'services:tipo_servicio_list' %}">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'services:listacli' %}">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'services:agregar_caja' %}">Caja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'services:listar_cajas' %}">Lista de Caja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'services:logouts' %}">Cerrar Sesión</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'services:logins' %}">Iniciar Sesión</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'services:home' %}">Inicio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'services:agenda_view' %}">agenda</a>
        </li>
      </ul>
    </div>
  </nav>

  {% block content %}


  {% endblock content %}

</body>

</html>